@import url('https://fonts.googleapis.com/css?family=Baloo');

*{
	font-family: 'Baloo', cursive;
	font-size: 36px;
	box-sizing: border-box;

}
.contenedor{
	display: flex;
	justify-content: flex-start;

}
.caja{
	
	border: 2px;
	border-color: #606060;
	border-style: solid;
	text-align: left;
	min-width: 120px;
	min-height: 144px;
	padding: 17px;
	display: inline-block;
	border-radius: 10px;
	margin-top:17px;
	margin-left:17px;
	float: left;
}

.caja:nth-child(odd){
	background-color: #f7fade;
}

.caja:nth-child(even){
	background-color: #dfedd6;
}

